/* font-family: 'Bebas Neue', sans-serif; //logo
font-family: 'Righteous', sans-serif; //
font-family: 'Source Code Pro', monospace; //
font-family: 'Teko', sans-serif;        //home skills
font-family: 'Vina Sans', sans-serif;    */



/* old font */
 /* font-family: 'Roboto Condensed', sans-serif; */

 /* #FFDB60 orange  */
 /* #23262D black  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color:#0f0d15; */
    background-color: rgb(35 38 45);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.navbar-box{
    /* position: fixed; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    padding: 10px 25px;
    justify-content: space-between;
    /* transition: transform 0.3s ease-in-out; */

    
  
}

.navbar-box.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    /* opacity: 1; */
 } 
.logo p a{
    font-family: 'Bebas Neue', sans-serif;
    /* color:orange; */
    color: rgb(255 219 96);
    font-size: 2.5rem;
    font-weight: 900; 
    text-decoration: none; 
}
.logo.unactive{
    display: none;
}


.navbar .navbar-box ul{
    /* color: white; */
    /* color: #FBF8BE; */
    display: flex;
    font-family: 'Teko', sans-serif; 
    font-size: 1.5rem;
    font-weight: bolder;

}
.navbar .navbar-box ul li{
    list-style: none;
    margin-left: 20px;
  
}

.navbar .navbar-box ul li a {
    text-decoration: none;
    /* color: white;  */
    color: rgb(211 212 217);
   
} 

.navbar .navbar-box ul li a.active {
    /* text-decoration: none; */
    /* color: orange;  */
    color: rgb(255 219 96);

   
} 

.navbar-box i{
    display: none;
    /* color:orange */
    color: rgb(255 219 96);

}
main{
    flex-grow: 1;
    
}




/* footer css */
footer{
    /* position: relative; */
    /* bottom: -20vh; */
    /* background-color: #26236b; */
    background-color: rgb(27 28 32);
    color: white;
    

}
.footer-container{
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    /* overflow-x: hidden; */
}
.footer-container ul {
    display: flex;
}
.footer-container ul li{
    list-style: none;
    margin-left: 20px;
}

.footer-container ul li i{
    color: white;    
    font-size: 1.3rem;
}



/* changing the padding and margin in left and right of screen */
@media only screen and (max-width: 1040px ){
    .navbar-box{
        padding: 0 25px;
    }

}




/* smaler screen */
@media only screen and (max-width: 1070px ){
    .navbar-box{
        /* position: fixed; */
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        /* transition: position 1s ease; */
    }
 
    .navbar .navbar-box ul{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        left: 0;
        top: 4.8rem;
        text-align: center;
        background-color:rgb(35 38 45);
        transition: 0.6s;
        height: 0;
        overflow: hidden;
        z-index: 999;
    }
    .navbar .navbar-box ul.active{
        height: 25rem;
        border:2px solid rgb(255 219 96);
    }
    .navbar .navbar-box ul li{
        margin-left: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        transition: 0.5s;
        opacity: 0;
    
    }
    .navbar .navbar-box ul.active li{ 
        opacity: 1;
     }


    .navbar-box i {
        display: block;
        font-size: 20px;
        /* color:orange; */
    }
    
    .logo p a{  
        font-size: 2rem;
    }
 
}



/* removing the surname and making the font smaller */
@media only screen and (max-width:600px){
    .logo.active{
        display: none;
    }
    .logo.unactive{
        display: block;
    }
}




/* making the footer responsive */
@media only screen and (max-width : 780px){
    .footer-container{
         flex-direction: column-reverse;
         align-items: center;
         /* width: fit-content; */
      
    }
    /* .copyright-container{
      margin: 15px;
      text-align: center;
      
    
    } */
    .footer-container ul li{
     margin-right: 20px;
    }
 }
