.project-section{
    background-color: rgb(35 38 45);
    overflow-y: hidden;
    /* height: 100vh; */
    position: relative;
}


 .reveal .parent{
    display: block;
    overflow: hidden;
   
}

.reveal .child{
    display: block;
    transform: translate(0,100%);
   
}


.project-section .projects-heading{
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    color: rgb(255 219 96);
    /* color: white; */
    margin-top: 8vh;
    margin-left: 10vw;
    /* font-weight: 100; */
}

.project-section .line{
    height: 0;   
    /* height: 100%; */
    width: 4px;
    background-color:rgb(211 212 217); 
    position: absolute;
    margin-left: 20vw;
    /* z-index: 10; */
}

.project-main-container{
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;
    padding-top:8vh;
    position: relative;
    z-index: 70;

}
.project-main-container.second{
    padding-bottom: 10vh;
}
.project-container{
    color:rgb(255 219 96);
    display: flex;
    font-size: 3vmax;
    position: relative;


}



.project-container .parent{
    overflow: hidden;
    display: block;
    
}
.project-container .parent .child{
    color:rgb(255 219 96);
    display: flex;
    /* font-size: 3vmax; */
    position: relative;
    width: max-content;
    transform: translate(100%,0);
}



.project-child-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.project-container img{
    /* height: 13vw; */
    height: 13vmax;
}
.project-container h1{
    margin-top: 10px;
    font-size: 0.5em;
}
.project-container .project-number{
    display: flex;
    flex-direction: column;
    padding: 3%;
    /* font-size: 3em; */
}


.project-container .curtain-reveal{
    height: 100%;
    width: 110%;
    background-color: rgb(255 219 96);
    position: absolute;
}




/* Responsive code for project container */
@media only screen and (max-width: 1300px ){
   

    .project-main-container{
        padding: 0 13vw;
        padding-top:8vh
    }

}


/* drop down button appears */
@media only screen and (max-width: 1070px ){
   

    .project-main-container{
        padding: 0 11vw;
        /* padding-right: 30vw; */
        padding-top:8vh;
    }
}


/* 1024 vanda muni project ko image in px */
@media only screen and (max-width: 1024px ){
    .project-container img{
        height: 145px;
    }
}


@media only screen and (max-width: 815px ){
    .project-container img{
        height: 140px;
    }
    .project-main-container{
       flex-direction: column;
       align-items: flex-end;
    
    }
    .project-container.second{
        margin-top: 10vh;
    } 

    .project-section .projects-heading{
        font-size: 1.5rem;
     
    }
}

@media only screen and (max-width:787px){
    .project-section .line{
        margin-left: 15vw;
    }
}

@media only screen and (min-width: 700px) and (max-width: 815px){
    .project-main-container{
        margin-right: 20vw;
     }
     .project-container img{
        height: 160px;
    }  
}

@media only screen and (max-width:431px){
    .project-section .line{
        width: 3px;
    }
}

@media only screen and (max-width: 300px ){
    .project-container img{
        height: 100px;
    }
}