.skills-section{
    background-color: rgb(255 219 96);;
}

.skills-section-container{
    padding: 10vh 10vw;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.skills-section-container svg{
    margin: 20px 5vw;
}



