
.skills-main-container{
     margin: 50px 12vw;
     color: white;
     font-family: 'Roboto Condensed', sans-serif;

}
.skills-main-container h1{
    font-size: 2rem;
}






.watermark div h1{
    color: #26236b;
    font-size: 100px;
    position: fixed;
    z-index: -10;
    top: 25vh;
    text-transform:uppercase;
    /* opacity: 0.09;
    filter: blur(5px); */
    opacity: 0.5;
    filter: blur(2px);
}
