.background-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: -999;
}
.background-container  div{
    height: 100vh;
    width: 50vw;
}
.background-container .left-div{
    background-color: rgb(27 28 32);
    opacity: 0.5;
}
.background-container .right-div{
    background-color: rgb(35 38 45);

}


.home-section{
    height: 85vh;
    display: flex;
    margin: 0 20vw;
    margin-top: 20vh;
    overflow: hidden;    
    /* position: relative; */
}
 .mouse{
    position: absolute;
    right: 10vw;
    /* margin-top: 20px; */
    /* flex-grow: 1; */
    /* align-self:self-end; */
    bottom: 5vh;
    font-size: 3rem;
    color: rgb(255 219 96);
}


.home-section .line{
    background-color: rgb(255 219 96);
    height: 100vh;
    width: 4px;
}
.intro-container{
    color: white;
    font-family:'Roboto Condensed', sans-serif;
    font-size: 2rem;
    padding-left: 30px;
 
}
.intro-container .start{
    color: rgb(211 212 217); 
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.intro-container button{
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(255 219 96);
    color: rgb(35 38 45); 
    padding: 15px 30px;
}










/* drop down button appears */
@media only screen and (max-width: 1070px ){
    .intro-container{
        font-size: 1.5rem;
    }

    .mouse{
        /* right: 4.5vw; */
        /* margin-top: 0px; */
        font-size: 2rem; 
    }

}

/* making the sapce between line and viewpor smaller */
@media only screen and (max-width: 787px){
    .home-section{
        margin: 0 15vw;
         margin-top: 30vh;
    }
   

}



@media only screen and (max-width: 540px){
    .intro-container{
        font-size: 1rem;
    }

}

@media only screen and (max-width: 360px){
    .intro-container button{
        font-size: 1rem;
        padding: 10px 15px;
    }
}

/* .home-section{
    position: relative;
    z-index: -99;
}
.background-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(211 212 217);
    margin-top: 10vh;
    
}
.background-text h1{
    font-size: 10vw;
    opacity: 0.6;

}
.background-text i{
    font-size: 22vw;
    color: rgb(255 219 96);
    position: relative;
    top: -9vw;
}
.home-intro-container{
    /* position: absolute; */
    /* top: 0; */
    /* z-index: 100; */
    /* background-color: rebeccapurple; */
    /* margin: 25vh 15vw; */
    /* font-size: 20px; */
/* }  */






























