*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    /* background-color: #1d1d1b; */
    /* background-color:#040622; */
    background-color:#0f0d15;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

.navbar{
    /* background-color: #efef0b; */
    /* background-color:#0f0d15; */
  

    width: 100%;
    padding: 20px 0;
}
.navbar-box{
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
}
.logo p a{
    /* font-family:'Lobster Two'; */
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Roboto Condensed', sans-serif;
    color:orange;
    font-size: 2rem;
    font-weight: 900; 
    text-decoration: none; 
}
.logo.unactive{
    display: none;
}


.navbar .navbar-box ul{
    color: white;
    display: flex;
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;

}
.navbar .navbar-box ul li{
    list-style: none;
    margin-left: 20px;
  
}

.navbar .navbar-box ul li a {
    text-decoration: none;
    color: white; 
   
} 

.navbar .navbar-box ul li a.active {
    /* text-decoration: none; */
    color: orange; 
   
} 

.navbar-box i{
    display: none;
    color:orange
}
main{
    flex-grow: 1;

}


/* projects main, section="projects_main_section" */
.projects-main-section{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

}
.projects-main-section .projects-main-container{
    margin: 50px 12vw;

}

.projects-main-section .projects-main-container h1{
    font-size: 40px;

}

.project-container{
    display: flex;
    background-color: #1a1527;
    margin: 50px 0px;
}
.project-container.img-right{
    flex-direction: row;
}
.project-container.img-left{
    flex-direction: row-reverse;
}


.project-container .line-design{
    /* height: 100%; */
    /* width: 20px; */
    width:20px;

    background-color: orange;
}

.project-container .content{
    display:flex;
    flex-direction: column;
    margin: 40px 40px;
}
.project-container .content .info-container{
    display: flex;
}
.project-container.img-right .content .info-container{
    flex-direction: row;
}
.project-container.img-left .content .info-container{
    flex-direction: row-reverse;
}

.project-container .content  .project-name{
    font-size: 25px;
    font-weight:900;
}
.project-container.img-left .content  .project-name{
    text-align: right;
}

/* .project-container .info p.project-name{
    font-size: 25px;
    font-weight:900;
} */



.project-container .content .info-container .info p.intro{
    margin: 40px 0px;
    /* margin-right: 100px; */
    font-style: italic;
    text-align: justify;
}
.project-container.img-right .content .info-container .info p.intro{
    margin-right: 100px;
   
}
.project-container.img-left .content .info-container .info p.intro{
    margin-left: 100px;

}




.project-container .project-image-container{
    /* padding:40px 20px; */
    display: flex;
    align-items: center;
}


.project-container .project-image-container img{
    height: 200px;
    /* height: 1vw; */
}

.project-container .info button{
    padding: 10px 10px;
    background-color: orange;
    color: white;
    /* width: 30vw; */
}

.project-container .info .source-button{
    margin-left: 10px;
}

.project-container.img-left .project-button-container{
    text-align: right;
}


.watermark div h1{
 
    color: #26236b;
    font-size: 100px;
    position: fixed;
    z-index: -10;
    top: 25vh;
    text-transform:uppercase;
    /* opacity: 0.09;
    filter: blur(5px); */
    opacity: 0.5;
    filter: blur(2px);
}

/* footer css */
footer{
    position: relative;
    bottom: -20vh;
    background-color: #26236b;
    color: white;
    

}
.footer-container{
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    /* overflow-x: hidden; */
}
.footer-container ul {
    display: flex;
}
.footer-container ul li{
    list-style: none;
    margin-left: 20px;
}

.footer-container ul li i{
    color: white;    
    font-size: 1.3rem;
}









/* responsive design for project */
@media only screen and (max-width: 1250px ){
    .project-container.img-right .content .info-container .info p.intro {
        margin: 40px 0px;
    }
    .project-container.img-left .content .info-container .info p.intro {
        margin: 40px 0px;
    }
    .project-container.img-right .content .info-container{
        flex-direction: column-reverse;
       
    }

    .project-container.img-left .content .info-container{
        flex-direction: column-reverse;
       
    }
    .project-container .project-image-container{
        margin-top: 40px;
        justify-content: center;
    }

    .project-container.img-left .content  .project-name{
        text-align: left;
    }

}


/* changing the padding and margin in left and right of screen */
@media only screen and (max-width: 1040px ){
    .navbar-box{
        padding: 0 25px;
    }
 
}


/* smaler screen */
@media only screen and (max-width: 1070px ){
   
    .navbar .navbar-box ul{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        left: 0;
        /* top: 4.5rem; */
        top: 4.8rem;
        text-align: center;
        /* background-color: #efef0b; */
        background-color:#0f0d15;

        transition: 0.6s;
        height: 0;
        overflow: hidden;
    }
    .navbar .navbar-box ul.active{
        height: 25rem;
    }
    .navbar .navbar-box ul li{
        margin-left: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
        transition: 0.5s;
        opacity: 0;
    
    }
    .navbar .navbar-box ul.active li{ 
        opacity: 1;
     }


    .navbar-box i {
        display: block;
        font-size: 25px;
        color:orange;
    }


    /* main contect of project css here*/
    
    
 
}


/* removing the surname and making the font smaller */
@media only screen and (max-width:600px){
    .project-container .content{
        display:flex;
        flex-direction: column;
        margin: 40px 15px;
    }
    .logo.active{
        display: none;
    }
    .logo.unactive{
        display: block;
    }

}

/* project main content for smaller screen optional */
@media only screen and (max-width : 850px){
  


}


/* making the footer responsive */
@media only screen and (max-width : 780px){
    .footer-container{
         flex-direction: column-reverse;
         align-items: center;
         /* width: fit-content; */
      
    }
    .copyright-container{
      margin: 15px;
      text-align: center;
      
    
    }
  
    .footer-container ul li{
     margin-right: 20px;
    }

    /* making image of project smaller */
    .project-container .project-image-container img{
        height: 30vw;
    }

    /* making button line-project and source-code margin samller */
    @media only screen and (max-width : 390px){
        .project-container .info .source-button{
            margin-left:0;
            margin-top: 15px;
        }
        .project-button-container{
            
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .project-container .info button{
            
            width: 50%;
        }
    }
 }
 